[Desktop Entry]
Name=Pandora
GenericName=Minecraft launcher
Comment=Pandora Minecraft launcher
Keywords=minecraft;game;gaming;
Exec=PandoraLauncher
Icon=PandoraLauncher
Terminal=false
Type=Application
Categories=Game;
